--
-- PostgreSQL database dump
--

\restrict qyBDEuUyV0AwfDQ37ngwQxjcdR3yKQT0q0ZsSUjEYwI6flpgCTgD3PXtg2oeC36

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg12+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ai_chatmessage; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ai_chatmessage (
    id uuid NOT NULL,
    role character varying(10) NOT NULL,
    content text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id uuid NOT NULL,
    document_id uuid,
    workspace_id uuid
);


--
-- Name: ai_documentembedding; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ai_documentembedding (
    id uuid NOT NULL,
    chunk_text text NOT NULL,
    chunk_index integer NOT NULL,
    embedding public.vector(384) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    document_id uuid NOT NULL
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: comments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.comments (
    id uuid NOT NULL,
    content text NOT NULL,
    is_resolved boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    document_id uuid NOT NULL,
    author_id uuid,
    parent_id uuid
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id uuid NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_clockedschedule; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_celery_beat_clockedschedule (
    id integer NOT NULL,
    clocked_time timestamp with time zone NOT NULL
);


--
-- Name: django_celery_beat_clockedschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_celery_beat_clockedschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_clockedschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_crontabschedule; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_celery_beat_crontabschedule (
    id integer NOT NULL,
    minute character varying(240) NOT NULL,
    hour character varying(96) NOT NULL,
    day_of_week character varying(64) NOT NULL,
    day_of_month character varying(124) NOT NULL,
    month_of_year character varying(64) NOT NULL,
    timezone character varying(63) NOT NULL
);


--
-- Name: django_celery_beat_crontabschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_celery_beat_crontabschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_crontabschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_intervalschedule; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_celery_beat_intervalschedule (
    id integer NOT NULL,
    every integer NOT NULL,
    period character varying(24) NOT NULL
);


--
-- Name: django_celery_beat_intervalschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_celery_beat_intervalschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_intervalschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_periodictask; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_celery_beat_periodictask (
    id integer NOT NULL,
    name character varying(200) NOT NULL,
    task character varying(200) NOT NULL,
    args text NOT NULL,
    kwargs text NOT NULL,
    queue character varying(200),
    exchange character varying(200),
    routing_key character varying(200),
    expires timestamp with time zone,
    enabled boolean NOT NULL,
    last_run_at timestamp with time zone,
    total_run_count integer NOT NULL,
    date_changed timestamp with time zone NOT NULL,
    description text NOT NULL,
    crontab_id integer,
    interval_id integer,
    solar_id integer,
    one_off boolean NOT NULL,
    start_time timestamp with time zone,
    priority integer,
    headers text NOT NULL,
    clocked_id integer,
    expire_seconds integer,
    CONSTRAINT django_celery_beat_periodictask_expire_seconds_check CHECK ((expire_seconds >= 0)),
    CONSTRAINT django_celery_beat_periodictask_priority_check CHECK ((priority >= 0)),
    CONSTRAINT django_celery_beat_periodictask_total_run_count_check CHECK ((total_run_count >= 0))
);


--
-- Name: django_celery_beat_periodictask_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_celery_beat_periodictask ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_periodictask_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_periodictasks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_celery_beat_periodictasks (
    ident smallint NOT NULL,
    last_update timestamp with time zone NOT NULL
);


--
-- Name: django_celery_beat_solarschedule; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_celery_beat_solarschedule (
    id integer NOT NULL,
    event character varying(24) NOT NULL,
    latitude numeric(9,6) NOT NULL,
    longitude numeric(9,6) NOT NULL
);


--
-- Name: django_celery_beat_solarschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_celery_beat_solarschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_solarschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


--
-- Name: document_attachments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.document_attachments (
    id uuid NOT NULL,
    title character varying(255) NOT NULL,
    storage_key text NOT NULL,
    file_size bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    document_id uuid NOT NULL,
    uploaded_by_id uuid,
    CONSTRAINT document_attachments_file_size_check CHECK ((file_size >= 0))
);


--
-- Name: document_audit_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.document_audit_logs (
    id uuid NOT NULL,
    action character varying(50) NOT NULL,
    details jsonb,
    ip_address inet,
    "timestamp" timestamp with time zone NOT NULL,
    document_id uuid NOT NULL,
    user_id uuid
);


--
-- Name: document_blockchain; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.document_blockchain (
    id uuid NOT NULL,
    step_order integer NOT NULL,
    document_hash character varying(64) NOT NULL,
    previous_hash character varying(64) NOT NULL,
    block_hash character varying(64) NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    tampered boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    document_id uuid NOT NULL,
    task_id uuid
);


--
-- Name: document_versions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.document_versions (
    id uuid NOT NULL,
    version_number integer NOT NULL,
    storage_key text NOT NULL,
    checksum character varying(64) NOT NULL,
    ai_changes_detected boolean NOT NULL,
    ai_diff_summary jsonb,
    created_at timestamp with time zone NOT NULL,
    document_id uuid NOT NULL,
    created_by_id uuid
);


--
-- Name: documents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.documents (
    id uuid NOT NULL,
    title character varying(255) NOT NULL,
    file_type character varying(20) NOT NULL,
    storage_key text NOT NULL,
    storage_url text,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    workspace_id uuid NOT NULL,
    uploaded_by_id uuid,
    current_version_id uuid,
    metadata jsonb NOT NULL,
    due_date date,
    priority character varying(10) NOT NULL,
    content jsonb,
    sheet_data jsonb
);


--
-- Name: email_verification_codes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.email_verification_codes (
    id uuid NOT NULL,
    email character varying(254) NOT NULL,
    code character varying(6) NOT NULL,
    purpose character varying(20) NOT NULL,
    is_used boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    expires_at timestamp with time zone NOT NULL
);


--
-- Name: faqs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.faqs (
    id bigint NOT NULL,
    topic character varying(50) NOT NULL,
    question text NOT NULL,
    answer text NOT NULL,
    "order" integer NOT NULL,
    is_active boolean NOT NULL,
    CONSTRAINT faqs_order_check CHECK (("order" >= 0))
);


--
-- Name: faqs_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.faqs ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.faqs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: monthly_reports; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.monthly_reports (
    id uuid NOT NULL,
    period_year smallint NOT NULL,
    period_month smallint NOT NULL,
    docs_total integer NOT NULL,
    docs_completed integer NOT NULL,
    docs_signed integer NOT NULL,
    tasks_completed integer NOT NULL,
    avg_completion_days numeric(5,2),
    report_data jsonb,
    generated_at timestamp with time zone NOT NULL,
    organization_id uuid,
    workspace_id uuid
);


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notifications (
    id uuid NOT NULL,
    type character varying(50) NOT NULL,
    title character varying(255) NOT NULL,
    message text,
    entity_type character varying(50),
    entity_id uuid,
    is_read boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id uuid NOT NULL
);


--
-- Name: organization_invitations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.organization_invitations (
    id uuid NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    organization_id uuid NOT NULL,
    invitee_id uuid NOT NULL,
    inviter_id uuid NOT NULL,
    role character varying(20) NOT NULL,
    workspace_id uuid
);


--
-- Name: organizations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.organizations (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    type character varying(20) NOT NULL,
    inn character varying(20),
    address text,
    created_at timestamp with time zone NOT NULL,
    owner_id uuid
);


--
-- Name: signatures; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.signatures (
    id uuid NOT NULL,
    signature_data text NOT NULL,
    certificate_id character varying(255),
    signed_at timestamp with time zone NOT NULL,
    ip_address inet NOT NULL,
    is_valid boolean NOT NULL,
    document_id uuid NOT NULL,
    user_id uuid
);


--
-- Name: subtasks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.subtasks (
    id uuid NOT NULL,
    title character varying(255) NOT NULL,
    deadline date,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    assignee_id uuid,
    document_id uuid NOT NULL
);


--
-- Name: tasks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tasks (
    id uuid NOT NULL,
    step_order integer NOT NULL,
    title character varying(255) NOT NULL,
    status character varying(20) NOT NULL,
    due_date date,
    completed_at timestamp with time zone,
    workspace_id uuid NOT NULL,
    document_id uuid NOT NULL,
    assigned_to_id uuid,
    created_at timestamp with time zone NOT NULL,
    request_type character varying(20)
);


--
-- Name: token_blacklist_blacklistedtoken; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.token_blacklist_blacklistedtoken (
    id bigint NOT NULL,
    blacklisted_at timestamp with time zone NOT NULL,
    token_id bigint NOT NULL
);


--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.token_blacklist_blacklistedtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_blacklistedtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_outstandingtoken; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.token_blacklist_outstandingtoken (
    id bigint NOT NULL,
    token text NOT NULL,
    created_at timestamp with time zone,
    expires_at timestamp with time zone NOT NULL,
    user_id uuid,
    jti character varying(255) NOT NULL
);


--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.token_blacklist_outstandingtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_outstandingtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_settings (
    id bigint NOT NULL,
    notification_email boolean NOT NULL,
    notification_push boolean NOT NULL,
    language character varying(10) NOT NULL,
    theme character varying(20) NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id uuid NOT NULL
);


--
-- Name: user_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.user_settings ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_settings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    id uuid NOT NULL,
    email character varying(255) NOT NULL,
    full_name character varying(255) NOT NULL,
    phone character varying(20),
    is_active boolean NOT NULL,
    is_staff boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    organization_id uuid,
    avatar_key text,
    avatar_url text,
    signature_data text
);


--
-- Name: users_groups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users_groups (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    group_id integer NOT NULL
);


--
-- Name: users_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.users_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users_user_permissions (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    permission_id integer NOT NULL
);


--
-- Name: users_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.users_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: workspace_invitations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.workspace_invitations (
    id uuid NOT NULL,
    role character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    invitee_id uuid NOT NULL,
    inviter_id uuid NOT NULL,
    workspace_id uuid NOT NULL
);


--
-- Name: workspace_members; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.workspace_members (
    id uuid NOT NULL,
    role character varying(20) NOT NULL,
    step_order integer,
    joined_at timestamp with time zone NOT NULL,
    user_id uuid NOT NULL,
    workspace_id uuid NOT NULL
);


--
-- Name: workspaces; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.workspaces (
    id uuid NOT NULL,
    title character varying(255) NOT NULL,
    type character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    description text,
    deadline date,
    created_at timestamp with time zone NOT NULL,
    created_by_id uuid,
    organization_id uuid
);


--
-- Name: ai_chatmessage ai_chatmessage_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_chatmessage
    ADD CONSTRAINT ai_chatmessage_pkey PRIMARY KEY (id);


--
-- Name: ai_documentembedding ai_documentembedding_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_documentembedding
    ADD CONSTRAINT ai_documentembedding_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_clockedschedule django_celery_beat_clockedschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_celery_beat_clockedschedule
    ADD CONSTRAINT django_celery_beat_clockedschedule_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_crontabschedule django_celery_beat_crontabschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_celery_beat_crontabschedule
    ADD CONSTRAINT django_celery_beat_crontabschedule_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_intervalschedule django_celery_beat_intervalschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_celery_beat_intervalschedule
    ADD CONSTRAINT django_celery_beat_intervalschedule_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_periodictask django_celery_beat_periodictask_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_periodictask_name_key UNIQUE (name);


--
-- Name: django_celery_beat_periodictask django_celery_beat_periodictask_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_periodictask_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_periodictasks django_celery_beat_periodictasks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_celery_beat_periodictasks
    ADD CONSTRAINT django_celery_beat_periodictasks_pkey PRIMARY KEY (ident);


--
-- Name: django_celery_beat_solarschedule django_celery_beat_solar_event_latitude_longitude_ba64999a_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_celery_beat_solarschedule
    ADD CONSTRAINT django_celery_beat_solar_event_latitude_longitude_ba64999a_uniq UNIQUE (event, latitude, longitude);


--
-- Name: django_celery_beat_solarschedule django_celery_beat_solarschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_celery_beat_solarschedule
    ADD CONSTRAINT django_celery_beat_solarschedule_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: document_attachments document_attachments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.document_attachments
    ADD CONSTRAINT document_attachments_pkey PRIMARY KEY (id);


--
-- Name: document_audit_logs document_audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.document_audit_logs
    ADD CONSTRAINT document_audit_logs_pkey PRIMARY KEY (id);


--
-- Name: document_blockchain document_blockchain_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.document_blockchain
    ADD CONSTRAINT document_blockchain_pkey PRIMARY KEY (id);


--
-- Name: document_versions document_versions_document_id_version_number_925a508c_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.document_versions
    ADD CONSTRAINT document_versions_document_id_version_number_925a508c_uniq UNIQUE (document_id, version_number);


--
-- Name: document_versions document_versions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.document_versions
    ADD CONSTRAINT document_versions_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: email_verification_codes email_verification_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.email_verification_codes
    ADD CONSTRAINT email_verification_codes_pkey PRIMARY KEY (id);


--
-- Name: faqs faqs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.faqs
    ADD CONSTRAINT faqs_pkey PRIMARY KEY (id);


--
-- Name: monthly_reports monthly_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.monthly_reports
    ADD CONSTRAINT monthly_reports_pkey PRIMARY KEY (id);


--
-- Name: monthly_reports monthly_reports_workspace_id_period_year_6c3f8374_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.monthly_reports
    ADD CONSTRAINT monthly_reports_workspace_id_period_year_6c3f8374_uniq UNIQUE (workspace_id, period_year, period_month);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: organization_invitations organization_invitations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.organization_invitations
    ADD CONSTRAINT organization_invitations_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_inn_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_inn_key UNIQUE (inn);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: signatures signatures_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.signatures
    ADD CONSTRAINT signatures_pkey PRIMARY KEY (id);


--
-- Name: subtasks subtasks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subtasks
    ADD CONSTRAINT subtasks_pkey PRIMARY KEY (id);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_key UNIQUE (token_id);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq UNIQUE (jti);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_pkey PRIMARY KEY (id);


--
-- Name: user_settings user_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_settings
    ADD CONSTRAINT user_settings_pkey PRIMARY KEY (id);


--
-- Name: user_settings user_settings_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_settings
    ADD CONSTRAINT user_settings_user_id_key UNIQUE (user_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users_groups users_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_groups
    ADD CONSTRAINT users_groups_pkey PRIMARY KEY (id);


--
-- Name: users_groups users_groups_user_id_group_id_fc7788e8_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_groups
    ADD CONSTRAINT users_groups_user_id_group_id_fc7788e8_uniq UNIQUE (user_id, group_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users_user_permissions users_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_user_permissions
    ADD CONSTRAINT users_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_user_permissions users_user_permissions_user_id_permission_id_3b86cbdf_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_user_permissions
    ADD CONSTRAINT users_user_permissions_user_id_permission_id_3b86cbdf_uniq UNIQUE (user_id, permission_id);


--
-- Name: workspace_invitations workspace_invitations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workspace_invitations
    ADD CONSTRAINT workspace_invitations_pkey PRIMARY KEY (id);


--
-- Name: workspace_members workspace_members_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workspace_members
    ADD CONSTRAINT workspace_members_pkey PRIMARY KEY (id);


--
-- Name: workspace_members workspace_members_workspace_id_user_id_b28cfa0b_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workspace_members
    ADD CONSTRAINT workspace_members_workspace_id_user_id_b28cfa0b_uniq UNIQUE (workspace_id, user_id);


--
-- Name: workspaces workspaces_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workspaces
    ADD CONSTRAINT workspaces_pkey PRIMARY KEY (id);


--
-- Name: ai_chatmess_user_id_2ac7ef_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ai_chatmess_user_id_2ac7ef_idx ON public.ai_chatmessage USING btree (user_id, document_id, created_at);


--
-- Name: ai_chatmess_user_id_3f4eea_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ai_chatmess_user_id_3f4eea_idx ON public.ai_chatmessage USING btree (user_id, workspace_id, created_at);


--
-- Name: ai_chatmessage_document_id_b6290135; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ai_chatmessage_document_id_b6290135 ON public.ai_chatmessage USING btree (document_id);


--
-- Name: ai_chatmessage_user_id_42f2e1d8; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ai_chatmessage_user_id_42f2e1d8 ON public.ai_chatmessage USING btree (user_id);


--
-- Name: ai_chatmessage_workspace_id_38b5c6f1; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ai_chatmessage_workspace_id_38b5c6f1 ON public.ai_chatmessage USING btree (workspace_id);


--
-- Name: ai_document_documen_a703d6_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ai_document_documen_a703d6_idx ON public.ai_documentembedding USING btree (document_id, chunk_index);


--
-- Name: ai_documentembedding_document_id_55405a11; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ai_documentembedding_document_id_55405a11 ON public.ai_documentembedding USING btree (document_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: comments_author__25752a_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX comments_author__25752a_idx ON public.comments USING btree (author_id);


--
-- Name: comments_author_id_7a23bb5d; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX comments_author_id_7a23bb5d ON public.comments USING btree (author_id);


--
-- Name: comments_documen_6e3d29_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX comments_documen_6e3d29_idx ON public.comments USING btree (document_id);


--
-- Name: comments_document_id_12cfae1b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX comments_document_id_12cfae1b ON public.comments USING btree (document_id);


--
-- Name: comments_parent__9f8798_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX comments_parent__9f8798_idx ON public.comments USING btree (parent_id);


--
-- Name: comments_parent_id_d317363b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX comments_parent_id_d317363b ON public.comments USING btree (parent_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_celery_beat_periodictask_clocked_id_47a69f82; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_celery_beat_periodictask_clocked_id_47a69f82 ON public.django_celery_beat_periodictask USING btree (clocked_id);


--
-- Name: django_celery_beat_periodictask_crontab_id_d3cba168; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_celery_beat_periodictask_crontab_id_d3cba168 ON public.django_celery_beat_periodictask USING btree (crontab_id);


--
-- Name: django_celery_beat_periodictask_interval_id_a8ca27da; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_celery_beat_periodictask_interval_id_a8ca27da ON public.django_celery_beat_periodictask USING btree (interval_id);


--
-- Name: django_celery_beat_periodictask_name_265a36b7_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_celery_beat_periodictask_name_265a36b7_like ON public.django_celery_beat_periodictask USING btree (name varchar_pattern_ops);


--
-- Name: django_celery_beat_periodictask_solar_id_a87ce72c; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_celery_beat_periodictask_solar_id_a87ce72c ON public.django_celery_beat_periodictask USING btree (solar_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: document_at_documen_3cbbfd_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX document_at_documen_3cbbfd_idx ON public.document_attachments USING btree (document_id);


--
-- Name: document_attachments_document_id_72f19827; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX document_attachments_document_id_72f19827 ON public.document_attachments USING btree (document_id);


--
-- Name: document_attachments_uploaded_by_id_8d972365; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX document_attachments_uploaded_by_id_8d972365 ON public.document_attachments USING btree (uploaded_by_id);


--
-- Name: document_au_action_43d50b_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX document_au_action_43d50b_idx ON public.document_audit_logs USING btree (action);


--
-- Name: document_au_documen_6f8d8b_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX document_au_documen_6f8d8b_idx ON public.document_audit_logs USING btree (document_id);


--
-- Name: document_au_timesta_420d3c_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX document_au_timesta_420d3c_idx ON public.document_audit_logs USING btree ("timestamp");


--
-- Name: document_au_user_id_fb288c_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX document_au_user_id_fb288c_idx ON public.document_audit_logs USING btree (user_id);


--
-- Name: document_audit_logs_action_8d8ac79b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX document_audit_logs_action_8d8ac79b ON public.document_audit_logs USING btree (action);


--
-- Name: document_audit_logs_action_8d8ac79b_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX document_audit_logs_action_8d8ac79b_like ON public.document_audit_logs USING btree (action varchar_pattern_ops);


--
-- Name: document_audit_logs_document_id_25cb0c86; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX document_audit_logs_document_id_25cb0c86 ON public.document_audit_logs USING btree (document_id);


--
-- Name: document_audit_logs_timestamp_888406f1; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX document_audit_logs_timestamp_888406f1 ON public.document_audit_logs USING btree ("timestamp");


--
-- Name: document_audit_logs_user_id_5e6c0231; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX document_audit_logs_user_id_5e6c0231 ON public.document_audit_logs USING btree (user_id);


--
-- Name: document_bl_documen_f02dc0_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX document_bl_documen_f02dc0_idx ON public.document_blockchain USING btree (document_id, created_at);


--
-- Name: document_blockchain_block_hash_c08dd4b8; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX document_blockchain_block_hash_c08dd4b8 ON public.document_blockchain USING btree (block_hash);


--
-- Name: document_blockchain_block_hash_c08dd4b8_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX document_blockchain_block_hash_c08dd4b8_like ON public.document_blockchain USING btree (block_hash varchar_pattern_ops);


--
-- Name: document_blockchain_document_id_870d6e16; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX document_blockchain_document_id_870d6e16 ON public.document_blockchain USING btree (document_id);


--
-- Name: document_blockchain_tampered_469f5ecd; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX document_blockchain_tampered_469f5ecd ON public.document_blockchain USING btree (tampered);


--
-- Name: document_blockchain_task_id_da7fe939; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX document_blockchain_task_id_da7fe939 ON public.document_blockchain USING btree (task_id);


--
-- Name: document_ve_created_11bca2_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX document_ve_created_11bca2_idx ON public.document_versions USING btree (created_by_id);


--
-- Name: document_ve_created_c8d81d_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX document_ve_created_c8d81d_idx ON public.document_versions USING btree (created_at);


--
-- Name: document_ve_documen_c337ce_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX document_ve_documen_c337ce_idx ON public.document_versions USING btree (document_id);


--
-- Name: document_versions_created_by_id_06a1d777; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX document_versions_created_by_id_06a1d777 ON public.document_versions USING btree (created_by_id);


--
-- Name: document_versions_document_id_f408232d; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX document_versions_document_id_f408232d ON public.document_versions USING btree (document_id);


--
-- Name: documents_created_3c6eaa_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX documents_created_3c6eaa_idx ON public.documents USING btree (created_at);


--
-- Name: documents_current_version_id_65f744a6; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX documents_current_version_id_65f744a6 ON public.documents USING btree (current_version_id);


--
-- Name: documents_priority_0a24fcec; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX documents_priority_0a24fcec ON public.documents USING btree (priority);


--
-- Name: documents_priority_0a24fcec_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX documents_priority_0a24fcec_like ON public.documents USING btree (priority varchar_pattern_ops);


--
-- Name: documents_status_0fffe9a5; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX documents_status_0fffe9a5 ON public.documents USING btree (status);


--
-- Name: documents_status_0fffe9a5_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX documents_status_0fffe9a5_like ON public.documents USING btree (status varchar_pattern_ops);


--
-- Name: documents_status_f31a08_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX documents_status_f31a08_idx ON public.documents USING btree (status);


--
-- Name: documents_uploade_aad805_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX documents_uploade_aad805_idx ON public.documents USING btree (uploaded_by_id);


--
-- Name: documents_uploaded_by_id_7715cd85; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX documents_uploaded_by_id_7715cd85 ON public.documents USING btree (uploaded_by_id);


--
-- Name: documents_workspa_c0958a_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX documents_workspa_c0958a_idx ON public.documents USING btree (workspace_id);


--
-- Name: documents_workspace_id_7fc67dcd; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX documents_workspace_id_7fc67dcd ON public.documents USING btree (workspace_id);


--
-- Name: email_verif_email_33a5d2_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX email_verif_email_33a5d2_idx ON public.email_verification_codes USING btree (email, purpose);


--
-- Name: email_verification_codes_email_78cb32a2; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX email_verification_codes_email_78cb32a2 ON public.email_verification_codes USING btree (email);


--
-- Name: email_verification_codes_email_78cb32a2_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX email_verification_codes_email_78cb32a2_like ON public.email_verification_codes USING btree (email varchar_pattern_ops);


--
-- Name: monthly_rep_organiz_ad3586_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX monthly_rep_organiz_ad3586_idx ON public.monthly_reports USING btree (organization_id);


--
-- Name: monthly_rep_period__e86649_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX monthly_rep_period__e86649_idx ON public.monthly_reports USING btree (period_year, period_month);


--
-- Name: monthly_reports_organization_id_f52a1a67; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX monthly_reports_organization_id_f52a1a67 ON public.monthly_reports USING btree (organization_id);


--
-- Name: monthly_reports_workspace_id_7aa4965b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX monthly_reports_workspace_id_7aa4965b ON public.monthly_reports USING btree (workspace_id);


--
-- Name: notificatio_created_e4c995_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX notificatio_created_e4c995_idx ON public.notifications USING btree (created_at);


--
-- Name: notificatio_is_read_3f8c44_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX notificatio_is_read_3f8c44_idx ON public.notifications USING btree (is_read);


--
-- Name: notificatio_type_8a8a78_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX notificatio_type_8a8a78_idx ON public.notifications USING btree (type);


--
-- Name: notificatio_user_id_e78525_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX notificatio_user_id_e78525_idx ON public.notifications USING btree (user_id);


--
-- Name: notifications_is_read_27cb7368; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX notifications_is_read_27cb7368 ON public.notifications USING btree (is_read);


--
-- Name: notifications_type_be5d2171; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX notifications_type_be5d2171 ON public.notifications USING btree (type);


--
-- Name: notifications_type_be5d2171_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX notifications_type_be5d2171_like ON public.notifications USING btree (type varchar_pattern_ops);


--
-- Name: notifications_user_id_468e288d; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX notifications_user_id_468e288d ON public.notifications USING btree (user_id);


--
-- Name: organizatio_inn_53d0f6_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX organizatio_inn_53d0f6_idx ON public.organizations USING btree (inn);


--
-- Name: organizatio_owner_i_0051c7_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX organizatio_owner_i_0051c7_idx ON public.organizations USING btree (owner_id);


--
-- Name: organizatio_type_c31c58_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX organizatio_type_c31c58_idx ON public.organizations USING btree (type);


--
-- Name: organization_invitations_invitee_id_2d17ae75; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX organization_invitations_invitee_id_2d17ae75 ON public.organization_invitations USING btree (invitee_id);


--
-- Name: organization_invitations_inviter_id_69e2fa8e; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX organization_invitations_inviter_id_69e2fa8e ON public.organization_invitations USING btree (inviter_id);


--
-- Name: organization_invitations_organization_id_c6b07de0; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX organization_invitations_organization_id_c6b07de0 ON public.organization_invitations USING btree (organization_id);


--
-- Name: organization_invitations_status_4556ba27; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX organization_invitations_status_4556ba27 ON public.organization_invitations USING btree (status);


--
-- Name: organization_invitations_status_4556ba27_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX organization_invitations_status_4556ba27_like ON public.organization_invitations USING btree (status varchar_pattern_ops);


--
-- Name: organization_invitations_workspace_id_00325f8e; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX organization_invitations_workspace_id_00325f8e ON public.organization_invitations USING btree (workspace_id);


--
-- Name: organizations_inn_1085a561_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX organizations_inn_1085a561_like ON public.organizations USING btree (inn varchar_pattern_ops);


--
-- Name: organizations_owner_id_69ddbc9d; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX organizations_owner_id_69ddbc9d ON public.organizations USING btree (owner_id);


--
-- Name: signatures_documen_4f7eaf_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX signatures_documen_4f7eaf_idx ON public.signatures USING btree (document_id);


--
-- Name: signatures_document_id_5eb1c107; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX signatures_document_id_5eb1c107 ON public.signatures USING btree (document_id);


--
-- Name: signatures_signed__2d02cc_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX signatures_signed__2d02cc_idx ON public.signatures USING btree (signed_at);


--
-- Name: signatures_user_id_35aded88; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX signatures_user_id_35aded88 ON public.signatures USING btree (user_id);


--
-- Name: signatures_user_id_360ef1_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX signatures_user_id_360ef1_idx ON public.signatures USING btree (user_id);


--
-- Name: subtasks_assigne_562bec_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX subtasks_assigne_562bec_idx ON public.subtasks USING btree (assignee_id);


--
-- Name: subtasks_assignee_id_9a804ef5; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX subtasks_assignee_id_9a804ef5 ON public.subtasks USING btree (assignee_id);


--
-- Name: subtasks_documen_728fe5_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX subtasks_documen_728fe5_idx ON public.subtasks USING btree (document_id);


--
-- Name: subtasks_document_id_961a35f4; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX subtasks_document_id_961a35f4 ON public.subtasks USING btree (document_id);


--
-- Name: subtasks_status_06d8802e; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX subtasks_status_06d8802e ON public.subtasks USING btree (status);


--
-- Name: subtasks_status_06d8802e_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX subtasks_status_06d8802e_like ON public.subtasks USING btree (status varchar_pattern_ops);


--
-- Name: subtasks_status_ab6b89_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX subtasks_status_ab6b89_idx ON public.subtasks USING btree (status);


--
-- Name: tasks_assigne_00feb5_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX tasks_assigne_00feb5_idx ON public.tasks USING btree (assigned_to_id);


--
-- Name: tasks_assigned_to_id_942feeaf; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX tasks_assigned_to_id_942feeaf ON public.tasks USING btree (assigned_to_id);


--
-- Name: tasks_documen_cd4a4e_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX tasks_documen_cd4a4e_idx ON public.tasks USING btree (document_id);


--
-- Name: tasks_document_id_67f6e363; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX tasks_document_id_67f6e363 ON public.tasks USING btree (document_id);


--
-- Name: tasks_due_dat_0359a9_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX tasks_due_dat_0359a9_idx ON public.tasks USING btree (due_date);


--
-- Name: tasks_request_d1e7fd_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX tasks_request_d1e7fd_idx ON public.tasks USING btree (request_type);


--
-- Name: tasks_request_type_8a036c32; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX tasks_request_type_8a036c32 ON public.tasks USING btree (request_type);


--
-- Name: tasks_request_type_8a036c32_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX tasks_request_type_8a036c32_like ON public.tasks USING btree (request_type varchar_pattern_ops);


--
-- Name: tasks_status_031d4c_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX tasks_status_031d4c_idx ON public.tasks USING btree (status);


--
-- Name: tasks_status_3ab18aeb; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX tasks_status_3ab18aeb ON public.tasks USING btree (status);


--
-- Name: tasks_status_3ab18aeb_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX tasks_status_3ab18aeb_like ON public.tasks USING btree (status varchar_pattern_ops);


--
-- Name: tasks_step_or_66253b_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX tasks_step_or_66253b_idx ON public.tasks USING btree (step_order);


--
-- Name: tasks_workspa_d4521b_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX tasks_workspa_d4521b_idx ON public.tasks USING btree (workspace_id);


--
-- Name: tasks_workspace_id_10a9a6d4; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX tasks_workspace_id_10a9a6d4 ON public.tasks USING btree (workspace_id);


--
-- Name: token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like ON public.token_blacklist_outstandingtoken USING btree (jti varchar_pattern_ops);


--
-- Name: token_blacklist_outstandingtoken_user_id_83bc629a; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX token_blacklist_outstandingtoken_user_id_83bc629a ON public.token_blacklist_outstandingtoken USING btree (user_id);


--
-- Name: users_created_6541e9_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_created_6541e9_idx ON public.users USING btree (created_at);


--
-- Name: users_email_0ea73cca_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_email_0ea73cca_like ON public.users USING btree (email varchar_pattern_ops);


--
-- Name: users_email_4b85f2_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_email_4b85f2_idx ON public.users USING btree (email);


--
-- Name: users_groups_group_id_2f3517aa; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_groups_group_id_2f3517aa ON public.users_groups USING btree (group_id);


--
-- Name: users_groups_user_id_f500bee5; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_groups_user_id_f500bee5 ON public.users_groups USING btree (user_id);


--
-- Name: users_organiz_ca9165_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_organiz_ca9165_idx ON public.users USING btree (organization_id);


--
-- Name: users_organization_id_abe5d649; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_organization_id_abe5d649 ON public.users USING btree (organization_id);


--
-- Name: users_user_permissions_permission_id_6d08dcd2; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_user_permissions_permission_id_6d08dcd2 ON public.users_user_permissions USING btree (permission_id);


--
-- Name: users_user_permissions_user_id_92473840; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_user_permissions_user_id_92473840 ON public.users_user_permissions USING btree (user_id);


--
-- Name: workspace_invitations_invitee_id_04d76c4f; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX workspace_invitations_invitee_id_04d76c4f ON public.workspace_invitations USING btree (invitee_id);


--
-- Name: workspace_invitations_inviter_id_68702fdd; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX workspace_invitations_inviter_id_68702fdd ON public.workspace_invitations USING btree (inviter_id);


--
-- Name: workspace_invitations_status_5ef71dff; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX workspace_invitations_status_5ef71dff ON public.workspace_invitations USING btree (status);


--
-- Name: workspace_invitations_status_5ef71dff_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX workspace_invitations_status_5ef71dff_like ON public.workspace_invitations USING btree (status varchar_pattern_ops);


--
-- Name: workspace_invitations_workspace_id_c67db95c; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX workspace_invitations_workspace_id_c67db95c ON public.workspace_invitations USING btree (workspace_id);


--
-- Name: workspace_m_role_ce0fe1_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX workspace_m_role_ce0fe1_idx ON public.workspace_members USING btree (role);


--
-- Name: workspace_m_step_or_2ad390_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX workspace_m_step_or_2ad390_idx ON public.workspace_members USING btree (step_order);


--
-- Name: workspace_m_user_id_6d97a3_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX workspace_m_user_id_6d97a3_idx ON public.workspace_members USING btree (user_id);


--
-- Name: workspace_m_workspa_4a91e0_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX workspace_m_workspa_4a91e0_idx ON public.workspace_members USING btree (workspace_id);


--
-- Name: workspace_members_user_id_b4ccc11d; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX workspace_members_user_id_b4ccc11d ON public.workspace_members USING btree (user_id);


--
-- Name: workspace_members_workspace_id_3a96620d; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX workspace_members_workspace_id_3a96620d ON public.workspace_members USING btree (workspace_id);


--
-- Name: workspaces_created_by_id_d52f549d; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX workspaces_created_by_id_d52f549d ON public.workspaces USING btree (created_by_id);


--
-- Name: workspaces_created_c5ac7c_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX workspaces_created_c5ac7c_idx ON public.workspaces USING btree (created_by_id);


--
-- Name: workspaces_organiz_d6c106_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX workspaces_organiz_d6c106_idx ON public.workspaces USING btree (organization_id);


--
-- Name: workspaces_organization_id_fdf4ba73; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX workspaces_organization_id_fdf4ba73 ON public.workspaces USING btree (organization_id);


--
-- Name: workspaces_status_62c2f1_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX workspaces_status_62c2f1_idx ON public.workspaces USING btree (status);


--
-- Name: workspaces_type_2e589a_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX workspaces_type_2e589a_idx ON public.workspaces USING btree (type);


--
-- Name: ai_chatmessage ai_chatmessage_document_id_b6290135_fk_documents_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_chatmessage
    ADD CONSTRAINT ai_chatmessage_document_id_b6290135_fk_documents_id FOREIGN KEY (document_id) REFERENCES public.documents(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ai_chatmessage ai_chatmessage_user_id_42f2e1d8_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_chatmessage
    ADD CONSTRAINT ai_chatmessage_user_id_42f2e1d8_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ai_chatmessage ai_chatmessage_workspace_id_38b5c6f1_fk_workspaces_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_chatmessage
    ADD CONSTRAINT ai_chatmessage_workspace_id_38b5c6f1_fk_workspaces_id FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ai_documentembedding ai_documentembedding_document_id_55405a11_fk_documents_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_documentembedding
    ADD CONSTRAINT ai_documentembedding_document_id_55405a11_fk_documents_id FOREIGN KEY (document_id) REFERENCES public.documents(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: comments comments_author_id_7a23bb5d_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_author_id_7a23bb5d_fk_users_id FOREIGN KEY (author_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: comments comments_document_id_12cfae1b_fk_documents_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_document_id_12cfae1b_fk_documents_id FOREIGN KEY (document_id) REFERENCES public.documents(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: comments comments_parent_id_d317363b_fk_comments_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_parent_id_d317363b_fk_comments_id FOREIGN KEY (parent_id) REFERENCES public.comments(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_celery_beat_periodictask django_celery_beat_p_clocked_id_47a69f82_fk_django_ce; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_p_clocked_id_47a69f82_fk_django_ce FOREIGN KEY (clocked_id) REFERENCES public.django_celery_beat_clockedschedule(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_celery_beat_periodictask django_celery_beat_p_crontab_id_d3cba168_fk_django_ce; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_p_crontab_id_d3cba168_fk_django_ce FOREIGN KEY (crontab_id) REFERENCES public.django_celery_beat_crontabschedule(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_celery_beat_periodictask django_celery_beat_p_interval_id_a8ca27da_fk_django_ce; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_p_interval_id_a8ca27da_fk_django_ce FOREIGN KEY (interval_id) REFERENCES public.django_celery_beat_intervalschedule(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_celery_beat_periodictask django_celery_beat_p_solar_id_a87ce72c_fk_django_ce; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_p_solar_id_a87ce72c_fk_django_ce FOREIGN KEY (solar_id) REFERENCES public.django_celery_beat_solarschedule(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: document_attachments document_attachments_document_id_72f19827_fk_documents_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.document_attachments
    ADD CONSTRAINT document_attachments_document_id_72f19827_fk_documents_id FOREIGN KEY (document_id) REFERENCES public.documents(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: document_attachments document_attachments_uploaded_by_id_8d972365_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.document_attachments
    ADD CONSTRAINT document_attachments_uploaded_by_id_8d972365_fk_users_id FOREIGN KEY (uploaded_by_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: document_audit_logs document_audit_logs_document_id_25cb0c86_fk_documents_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.document_audit_logs
    ADD CONSTRAINT document_audit_logs_document_id_25cb0c86_fk_documents_id FOREIGN KEY (document_id) REFERENCES public.documents(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: document_audit_logs document_audit_logs_user_id_5e6c0231_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.document_audit_logs
    ADD CONSTRAINT document_audit_logs_user_id_5e6c0231_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: document_blockchain document_blockchain_document_id_870d6e16_fk_documents_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.document_blockchain
    ADD CONSTRAINT document_blockchain_document_id_870d6e16_fk_documents_id FOREIGN KEY (document_id) REFERENCES public.documents(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: document_blockchain document_blockchain_task_id_da7fe939_fk_tasks_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.document_blockchain
    ADD CONSTRAINT document_blockchain_task_id_da7fe939_fk_tasks_id FOREIGN KEY (task_id) REFERENCES public.tasks(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: document_versions document_versions_created_by_id_06a1d777_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.document_versions
    ADD CONSTRAINT document_versions_created_by_id_06a1d777_fk_users_id FOREIGN KEY (created_by_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: document_versions document_versions_document_id_f408232d_fk_documents_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.document_versions
    ADD CONSTRAINT document_versions_document_id_f408232d_fk_documents_id FOREIGN KEY (document_id) REFERENCES public.documents(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: documents documents_current_version_id_65f744a6_fk_document_versions_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_current_version_id_65f744a6_fk_document_versions_id FOREIGN KEY (current_version_id) REFERENCES public.document_versions(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: documents documents_uploaded_by_id_7715cd85_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_uploaded_by_id_7715cd85_fk_users_id FOREIGN KEY (uploaded_by_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: documents documents_workspace_id_7fc67dcd_fk_workspaces_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_workspace_id_7fc67dcd_fk_workspaces_id FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: monthly_reports monthly_reports_organization_id_f52a1a67_fk_organizations_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.monthly_reports
    ADD CONSTRAINT monthly_reports_organization_id_f52a1a67_fk_organizations_id FOREIGN KEY (organization_id) REFERENCES public.organizations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: monthly_reports monthly_reports_workspace_id_7aa4965b_fk_workspaces_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.monthly_reports
    ADD CONSTRAINT monthly_reports_workspace_id_7aa4965b_fk_workspaces_id FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notifications notifications_user_id_468e288d_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_468e288d_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: organization_invitations organization_invitat_organization_id_c6b07de0_fk_organizat; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.organization_invitations
    ADD CONSTRAINT organization_invitat_organization_id_c6b07de0_fk_organizat FOREIGN KEY (organization_id) REFERENCES public.organizations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: organization_invitations organization_invitations_invitee_id_2d17ae75_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.organization_invitations
    ADD CONSTRAINT organization_invitations_invitee_id_2d17ae75_fk_users_id FOREIGN KEY (invitee_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: organization_invitations organization_invitations_inviter_id_69e2fa8e_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.organization_invitations
    ADD CONSTRAINT organization_invitations_inviter_id_69e2fa8e_fk_users_id FOREIGN KEY (inviter_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: organization_invitations organization_invitations_workspace_id_00325f8e_fk_workspaces_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.organization_invitations
    ADD CONSTRAINT organization_invitations_workspace_id_00325f8e_fk_workspaces_id FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: organizations organizations_owner_id_69ddbc9d_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_owner_id_69ddbc9d_fk_users_id FOREIGN KEY (owner_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: signatures signatures_document_id_5eb1c107_fk_documents_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.signatures
    ADD CONSTRAINT signatures_document_id_5eb1c107_fk_documents_id FOREIGN KEY (document_id) REFERENCES public.documents(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: signatures signatures_user_id_35aded88_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.signatures
    ADD CONSTRAINT signatures_user_id_35aded88_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: subtasks subtasks_assignee_id_9a804ef5_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subtasks
    ADD CONSTRAINT subtasks_assignee_id_9a804ef5_fk_users_id FOREIGN KEY (assignee_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: subtasks subtasks_document_id_961a35f4_fk_documents_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subtasks
    ADD CONSTRAINT subtasks_document_id_961a35f4_fk_documents_id FOREIGN KEY (document_id) REFERENCES public.documents(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tasks tasks_assigned_to_id_942feeaf_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_assigned_to_id_942feeaf_fk_users_id FOREIGN KEY (assigned_to_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tasks tasks_document_id_67f6e363_fk_documents_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_document_id_67f6e363_fk_documents_id FOREIGN KEY (document_id) REFERENCES public.documents(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tasks tasks_workspace_id_10a9a6d4_fk_workspaces_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_workspace_id_10a9a6d4_fk_workspaces_id FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk FOREIGN KEY (token_id) REFERENCES public.token_blacklist_outstandingtoken(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_user_id_83bc629a_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_user_id_83bc629a_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_settings user_settings_user_id_46a3df84_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_settings
    ADD CONSTRAINT user_settings_user_id_46a3df84_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_groups users_groups_group_id_2f3517aa_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_groups
    ADD CONSTRAINT users_groups_group_id_2f3517aa_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_groups users_groups_user_id_f500bee5_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_groups
    ADD CONSTRAINT users_groups_user_id_f500bee5_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users users_organization_id_abe5d649_fk_organizations_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_organization_id_abe5d649_fk_organizations_id FOREIGN KEY (organization_id) REFERENCES public.organizations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_permissions users_user_permissio_permission_id_6d08dcd2_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_user_permissions
    ADD CONSTRAINT users_user_permissio_permission_id_6d08dcd2_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_permissions users_user_permissions_user_id_92473840_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_user_permissions
    ADD CONSTRAINT users_user_permissions_user_id_92473840_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: workspace_invitations workspace_invitations_invitee_id_04d76c4f_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workspace_invitations
    ADD CONSTRAINT workspace_invitations_invitee_id_04d76c4f_fk_users_id FOREIGN KEY (invitee_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: workspace_invitations workspace_invitations_inviter_id_68702fdd_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workspace_invitations
    ADD CONSTRAINT workspace_invitations_inviter_id_68702fdd_fk_users_id FOREIGN KEY (inviter_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: workspace_invitations workspace_invitations_workspace_id_c67db95c_fk_workspaces_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workspace_invitations
    ADD CONSTRAINT workspace_invitations_workspace_id_c67db95c_fk_workspaces_id FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: workspace_members workspace_members_user_id_b4ccc11d_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workspace_members
    ADD CONSTRAINT workspace_members_user_id_b4ccc11d_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: workspace_members workspace_members_workspace_id_3a96620d_fk_workspaces_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workspace_members
    ADD CONSTRAINT workspace_members_workspace_id_3a96620d_fk_workspaces_id FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: workspaces workspaces_created_by_id_d52f549d_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workspaces
    ADD CONSTRAINT workspaces_created_by_id_d52f549d_fk_users_id FOREIGN KEY (created_by_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: workspaces workspaces_organization_id_fdf4ba73_fk_organizations_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workspaces
    ADD CONSTRAINT workspaces_organization_id_fdf4ba73_fk_organizations_id FOREIGN KEY (organization_id) REFERENCES public.organizations(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict qyBDEuUyV0AwfDQ37ngwQxjcdR3yKQT0q0ZsSUjEYwI6flpgCTgD3PXtg2oeC36

